// FIXME What if xwayland satellite uses different display?
spawn-at-startup "xwayland-satellite"
environment {
    DISPLAY ":0"
}

input {
    keyboard {
        xkb {
            layout "de"
            variant "nodeadkeys"
        }
        repeat-delay 235
        repeat-rate 60
    }
    touchpad {
        tap
        dwt
        dwtp
        natural-scroll
        accel-profile "flat"
    }
    mouse {
        accel-speed 0.2
        accel-profile "flat"
    }
    disable-power-key-handling
    workspace-auto-back-and-forth
}
binds {
    // Keys consist of modifiers separated by + signs, followed by an XKB key name
    // in the end. To find an XKB name for a particular key, you may use a program
    // like wev.
    //
    // "Mod" is a special modifier equal to Super when running on a TTY, and to Alt
    // when running as a winit window.
    //
    // Most actions that you can bind here can also be invoked programmatically with
    // `niri msg action do-something`.
    // Mod-Shift-/, which is usually the same as Mod-?,
    // shows a list of important hotkeys.
    Mod+Shift+Slash {
        show-hotkey-overlay
    }
    // Suggested binds for running programs: terminal, app launcher, screen locker.
    Mod+T { spawn "kitty" }
    Mod+c { spawn "clone-term"; }
    Mod+b { spawn "firefox"; }
    Menu { spawn "fuzzel" }
    Super+Alt+L { spawn "systemctl suspend" }
    // You can also use a shell. Do this if you need pipes, multiple commands, etc.
    // Note: the entire command goes as a single argument in the end.
    // Mod+T { spawn "bash" "-c" "notify-send hello && exec alacritty"; }
    // Example volume keys mappings for PipeWire & WirePlumber.
    // The allow-when-locked=true property makes them work even when the session is locked.
    XF86AudioRaiseVolume allow-when-locked=true {
        spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"
    }
    XF86AudioLowerVolume allow-when-locked=true {
        spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"
    }
    XF86AudioMute allow-when-locked=true {
        spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"
    }
    XF86AudioMicMute allow-when-locked=true {
        spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"
    }
    Mod+Q { close-window }
    Mod+n { focus-column-left }
    Mod+r { focus-window-or-workspace-down }
    Mod+l { focus-window-or-workspace-up }
    Mod+s { focus-column-right }
    Mod+Shift+n { move-column-left }
    Mod+Shift+r { move-window-down }
    Mod+Shift+l { move-window-up }
    Mod+Shift+s { move-column-right }
    Mod+Home { focus-column-first }
    Mod+End { focus-column-last }
    Mod+Ctrl+Home { move-column-to-first }
    Mod+Ctrl+End { move-column-to-last }
    Mod+Ctrl+n { focus-monitor-left }
    Mod+Ctrl+r { focus-monitor-down }
    Mod+Ctrl+l { focus-monitor-up }
    Mod+Ctrl+s { focus-monitor-right }
    Mod+Shift+Ctrl+n { move-column-to-monitor-left }
    Mod+Shift+Ctrl+r { move-column-to-monitor-down }
    Mod+Shift+Ctrl+l { move-column-to-monitor-up }
    Mod+Shift+Ctrl+s { move-column-to-monitor-right }
    Mod+Period { focus-workspace-down }
    Mod+comma { focus-workspace-up }
    Mod+Shift+Period { move-column-to-workspace-down }
    Mod+Shift+comma { move-column-to-workspace-up }
    Mod+Ctrl+Period { move-workspace-down }
    Mod+Ctrl+comma { move-workspace-up }
    Mod+WheelScrollDown cooldown-ms=150 { focus-workspace-down }
    Mod+WheelScrollUp cooldown-ms=150 { focus-workspace-up }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down }
    Mod+Ctrl+WheelScrollUp cooldown-ms=150 { move-column-to-workspace-up }
    Mod+WheelScrollRight { focus-column-right }
    Mod+WheelScrollLeft { focus-column-left }
    Mod+Ctrl+WheelScrollRight { move-column-right }
    Mod+Ctrl+WheelScrollLeft { move-column-left }
    Mod+Shift+WheelScrollDown { focus-column-right }
    Mod+Shift+WheelScrollUp { focus-column-left }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right }
    Mod+Ctrl+Shift+WheelScrollUp { move-column-left }
    Mod+h { focus-column-first }
    Mod+m { focus-column-last }
    Mod+Shift+h { consume-or-expel-window-left }
    Mod+Shift+m { consume-or-expel-window-right }
    Mod+V { maximize-column }
    Mod+return { fullscreen-window }
    Mod+Ctrl+V { expand-column-to-available-width }
    Mod+Minus { set-column-width "-10%" }
    Mod+Shift+0 { set-column-width "+10%" }

    Mod+F { toggle-window-floating }
    Mod+Ctrl+F { switch-focus-between-floating-and-tiling }

    Mod+y { toggle-column-tabbed-display; }

    Print { screenshot }
    Ctrl+Print { screenshot-screen }
    Alt+Print { screenshot-window }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit }

    // The quit action will show a confirmation dialog to avoid accidental exits.
    Mod+Ctrl+Escape { quit }
    // Powers off the monitors. To turn them back on, do any input like
    // moving the mouse or pressing any other key.
    Mod+Shift+P { power-off-monitors }

    // You can refer to workspaces by index. However, keep in mind that
    // niri is a dynamic workspace system, so these commands are kind of
    // "best effort". Trying to refer to a workspace index bigger than
    // the current workspace count will instead refer to the bottommost
    // (empty) workspace.
    //
    // For example, with 2 workspaces + 1 empty, indices 3, 4, 5 and so on
    // will all refer to the 3rd workspace.
    Mod+j { focus-workspace "default" }
    Mod+Shift+j { move-window-to-workspace "default" }

    Mod+d { focus-workspace "mail" }
    Mod+Shift+d { move-window-to-workspace "mail" }

    Mod+u { focus-workspace "games" }
    Mod+Shift+u { move-window-to-workspace "games" }

    Mod+F1 { focus-workspace "twitch" }
    Mod+Shift+F1 { move-window-to-workspace "twitch" }

    Mod+F2 { focus-workspace "comms" }
    Mod+Shift+F2 { move-window-to-workspace "comms" }

    Mod+F3 { focus-workspace "browser" }
    Mod+Shift+F3 { move-window-to-workspace "browser" }

    Mod+F4 { focus-workspace "notes" }
    Mod+Shift+F4 { move-window-to-workspace "notes" }
}

window-rule {
    match app-id="firefox"
    open-on-workspace "default"
}

window-rule {
    match app-id="thunderbird"
    open-on-workspace "mail"
	block-out-from "screen-capture"
}
window-rule {
    match app-id="steam"
    open-on-workspace "games"
}


window-rule {
    match app-id="streamlink-twitch-gui"
    open-on-workspace "twitch"
}

window-rule {
    match app-id="TeamSpeak 3"
    open-on-workspace "comms"
}
window-rule {
    match app-id="Element"
    open-on-workspace "comms"
}
window-rule {
    match app-id="signal"
    open-on-workspace "comms"
}
window-rule {
    match app-id="discord"
    open-on-workspace "comms"
}

window-rule {
    match app-id="obsidian"
    open-on-workspace "notes"
	block-out-from "screen-capture"
}
window-rule {
    match app-id="Zotero"
    open-on-workspace "notes"
	block-out-from "screen-capture"
}

spawn-at-startup "zotero"
spawn-at-startup "obsidian"
spawn-at-startup "firefox"

prefer-no-csd
hotkey-overlay {
	skip-at-startup
}
layout {
    gaps 1
    center-focused-column "never"
	empty-workspace-above-first
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    default-column-width {
        proportion 0.5
    }
    preset-window-heights {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    focus-ring {
        // off
        width 2
        active-color "#7fc8ff"
        inactive-color "#505050"
 // active-gradient from="#80c8ff" to="#bbddff" angle=45
            // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }
    border {
        off
        width 2
        active-color "#ffc87f"
        inactive-color "#505050"
 // active-gradient from="#ffbb66" to="#ffc880" angle=45 relative-to="workspace-view"
            // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view" in="srgb-linear"
    }
    shadow {
        // on
        softness 30
        spread 5
        offset x=0 y=5
        draw-behind-window true
        color "#00000070"
 // inactive-color "#00000054"
    }
    tab-indicator {
        // off
        hide-when-single-tab
        place-within-column
        gap 5
        width 4
        length total-proportion=1.0
        position "right"
        gaps-between-tabs 2
        corner-radius 8
        active-color "red"
        inactive-color "gray"
 // active-gradient from="#80c8ff" to="#bbddff" angle=45
            // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }
    insert-hint {
        // off
        color "#ffc87f80"
 // gradient from="#ffbb6680" to="#ffc88080" angle=45 relative-to="workspace-view"
    }
    struts {
 // left 64
            // right 64
            // top 64
            // bottom 64

    }
}
